


@{
    ViewData["Title"] = "AdminPage";
}

<h2>AdminPage</h2>


<div class="menuitems">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Admin" asp-action="AddTable" class="menuBar">AddTable</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="ReservationOverview" class="menuBar">Reserveringen</a></li>
        </ul>
    </div>
</div>

@*<div class="">
    <select name="restaurants">

        @foreach (var item in Model.Restaurants)
        {
        <option value="">
            @Html.DisplayFor(modelItem => item.restaurantName)
        </option>
        }

    </select>
    <input type="submit" name="Ophalen">
</div>*@
